parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/Data/Responses/EmailDTO.php

		-
			message: "#^Variable \\$messages in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: src/Data/Responses/EmailDTO.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Data/Responses/LabelDTO.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Data/Responses/TokenDTO.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 8
			path: src/Exceptions/AuthenticationException.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Exceptions/GmailClientException.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 6
			path: src/Exceptions/NotFoundException.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 4
			path: src/Exceptions/RateLimitException.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 7
			path: src/Exceptions/ValidationException.php

		-
			message: "#^Call to an undefined method Saloon\\\\Contracts\\\\OAuthAuthenticator\\:\\:getToken\\(\\)\\.$#"
			count: 1
			path: src/Gmail/GmailConnector.php

		-
			message: """
				#^Call to deprecated method withTokenAuth\\(\\) of class Saloon\\\\Http\\\\Connector\\:
				This method will be removed in Saloon v4\\. You should use the defaultAuth method or the `\\-\\>authenticate\\(new TokenAuthenticator\\)` instead\\.$#
			"""
			count: 1
			path: src/Gmail/GmailConnector.php

		-
			message: "#^Call to method getRequest\\(\\) on an unknown class Saloon\\\\Contracts\\\\Response\\.$#"
			count: 1
			path: src/Gmail/Requests/BaseRequest.php

		-
			message: "#^Call to method header\\(\\) on an unknown class Saloon\\\\Contracts\\\\Response\\.$#"
			count: 1
			path: src/Gmail/Requests/BaseRequest.php

		-
			message: "#^Call to method json\\(\\) on an unknown class Saloon\\\\Contracts\\\\Response\\.$#"
			count: 1
			path: src/Gmail/Requests/BaseRequest.php

		-
			message: "#^Call to method status\\(\\) on an unknown class Saloon\\\\Contracts\\\\Response\\.$#"
			count: 1
			path: src/Gmail/Requests/BaseRequest.php

		-
			message: "#^Method PartridgeRocks\\\\GmailClient\\\\Gmail\\\\Requests\\\\BaseRequest\\:\\:processResponse\\(\\) has invalid return type Saloon\\\\Contracts\\\\Response\\.$#"
			count: 1
			path: src/Gmail/Requests/BaseRequest.php

		-
			message: "#^Parameter \\$response of method PartridgeRocks\\\\GmailClient\\\\Gmail\\\\Requests\\\\BaseRequest\\:\\:processResponse\\(\\) has invalid type Saloon\\\\Contracts\\\\Response\\.$#"
			count: 1
			path: src/Gmail/Requests/BaseRequest.php

		-
			message: "#^Call to an undefined method Saloon\\\\Http\\\\Connector\\:\\:getAccessToken\\(\\)\\.$#"
			count: 1
			path: src/Gmail/Resources/AuthResource.php

		-
			message: "#^Call to an undefined method Saloon\\\\Http\\\\Connector\\:\\:getAuthorizationUrl\\(\\)\\.$#"
			count: 1
			path: src/Gmail/Resources/AuthResource.php

		-
			message: "#^Call to an undefined method Saloon\\\\Http\\\\Connector\\:\\:oauthConfig\\(\\)\\.$#"
			count: 3
			path: src/Gmail/Resources/AuthResource.php

		-
			message: "#^Call to an undefined method Saloon\\\\Http\\\\Connector\\:\\:refreshAccessToken\\(\\)\\.$#"
			count: 1
			path: src/Gmail/Resources/AuthResource.php

		-
			message: "#^Cannot call method json\\(\\) on array\\.$#"
			count: 2
			path: src/Services/AuthService.php