includes:
    #- phpstan-baseline.neon

parameters:
    level: 8
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
